<h1>Edit Companies</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.companies_path(@conn, :update, @companies)) %>

<span><%= link "Back", to: Routes.companies_path(@conn, :index) %></span>
